# Web framework
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2

# Async HTTP
httpx==0.27.2

# Celery + Redis
celery==5.4.0
redis==5.1.1

# NLP — IndoBERT fine-tune & inference
torch
transformers
accelerate
datasets
sentencepiece
sentence-transformers

# Data processing
numpy
pandas
scikit-learn

# LLM
groq

# Database
sqlalchemy==2.0.36
pgvector==0.3.2

# Dev
python-dotenv==1.0.1